* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-texto);
    font-size: var(--tamanho-base);
}

.container {
    max-width: var(--largura-maxima-conteudo);
    margin: 0 auto;
    padding: 20px 24px;
}